@charset "utf-8";



.td1{
    background: #00ffff;
    width: 100%;
    height: 100%;
    position: relative;
}
.td2{
    margin-left: 27%;
    margin-right: 20px;
    width: auto;
    margin-top: -85px;
}
.box{
    width: 25%;
    height:60px; 
    background: #ffe4c4; 
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 768px){
    .box{
        background: #ffe4c4; 
        position: relative;
        padding: 15px;
        padding-left: 0px;
        margin-top: 2px;
        width: 100px;
}
    .td1{
    background: #00ffff;
    margin-top: auto; 
    height: 100%;
}
    .td2{
        margin-top:  auto;
    margin-left: 0px;
    width: 75%;

}
.t {
    border-spacing: 0px;
    border-style: solid;
    border-color: green;
    border-width: 2px;
    width: 100%;
    padding: 0px;

}